html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  color: #364147;
  background-color: #fff;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 120px;
}

header img {
  max-height: 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.nav-link {
  text-decoration: none;
  color: #364147;
  font-weight: bold;
}

nav span {
  margin: 0 10px;
  color: #364147;
}

footer {
  text-align: center;
  color: #000;
  padding: 20px 0;
  flex-shrink: 0;
  background-color: gainsboro;
}

header ul {
  padding-inline-start: 20px;
}

header li {
  display: inline;
  margin-right: 20px;
}

#detail img {
  max-height: 400px;
}

#price {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 1em;
}

#filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-group select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; /* Set a fixed width */
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product figcaption {
  padding: 10px;
  width: 100%;
}

.product a {
  font-size: 18px;
  font-weight: bold;
  color: #364147;
  text-decoration: none;
}

.product p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.product button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #364147;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s;
}

.product button:hover {
  background-color: #29373b;
}

.product button svg {
  font-size: 16px;
}

.header-home {
  background: rgb(17, 0, 251);
  background: linear-gradient(90deg, rgba(17, 0, 251, 1) 0%, rgba(8, 143, 40, 1) 34%, rgba(255, 244, 0, 1) 63%, rgba(255, 129, 0, 1) 100%);
}

.header-spring {
  background-color: rgb(100, 199, 100);
  color: darkgreen;
}

.header-summer {
  background-color: rgb(254, 254, 121);
  color: orange;
}

.header-autumn {
  background-color: rgba(255, 195, 83, 0.904);
  color: darkred;
}

.header-winter {
  background-color: rgb(97, 169, 193);
  color: darkblue;
}

.footer-spring {
  background-color: rgb(100, 199, 100);
  color: darkgreen;
}

.footer-summer {
  background-color: rgb(254, 254, 121);
  color: orange;
}

.footer-autumn {
  background-color: rgba(255, 195, 83, 0.904);
  color: darkred;
}

.footer-winter {
  background-color: rgb(97, 169, 193);
  color: darkblue;
}

.footer-home {
  background: rgb(17, 0, 251);
  background: linear-gradient(90deg, rgba(17, 0, 251, 1) 0%, rgba(8, 143, 40, 1) 34%, rgba(255, 244, 0, 1) 63%, rgba(255, 129, 0, 1) 100%);
}
