body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.nav-link {
  text-decoration: none;
  color: #364147;
  font-weight: bold;
}

.trip-list-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.trip-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trip-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.trip-info {
  text-align: center;
  width: 100%;
}

.trip-info h2 {
  margin: 10px 0;
}

.trip-info p {
  margin: 5px 0;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.edit-form input {
  margin: 5px 0;
  padding: 10px;
  width: 90%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button-group {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #364147;
  color: #fff;
  transition: background-color 0.3s;
}

.button-group button:hover {
  background-color: #29373b;
}

.button-group button svg {
  font-size: 16px;
}

.btn-save {
  background-color: #4caf50;
}

.btn-save:hover {
  background-color: #45a049;
}

.btn-cancel {
  background-color: #f44336;
}

.btn-cancel:hover {
  background-color: #da190b;
}

.btn-delete {
  background-color: #f44336;
}

.btn-delete:hover {
  background-color: #da190b;
}

.btn-edit {
  background-color: #008cba;
}

.btn-edit:hover {
  background-color: #007bb5;
}
