html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #364147;
  background-color: #f5f5f5;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #bee1ea;
}

header img {
  max-height: 100px;
  margin-right: 20px;
}

nav {
  display: flex;
  align-items: center;
}

footer {
  text-align: center;
  color: #000;
  padding: 20px 0;
  flex-shrink: 0;
  background-color: #bee1ea;
  margin-top: 153px;
}

header ul {
  padding-inline-start: 20px;
}

header li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

#detail img {
  max-height: 400px;
}

#price {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 1.5em;
}

#products {
  display: flex;
  justify-content: center;
}

.product {
  display: flex;
  align-items: flex-end;
  max-width: 350px;
  text-align: center;
}

#cart img {
  height: 150px;
}

#cart ul {
  padding: 0;
  list-style-type: none;
}

#cart td,
#cart th {
  padding-left: 20px;
  padding-right: 20px;
}

input[type="number"] {
  width: 50px;
}

main {
  padding: 20px;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}

a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-size: 30px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

h3 {
  font-size: 24px;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

.btn-primary {
  color: #fff;
  background-color: #364147;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #29373b;
}

form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #364147;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #29373b;
}

form h3 {
  margin-bottom: 20px;
}

.lds-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
